<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
</head>
<body>

    <h1>EDITAR CADASTROS</h1>

    <% if (tipo === 'cliente') { %>

        <h2>Editar Cliente</h2>

        <form action="/cliente/atualizar" method="POST">

            <input type="hidden" name="id_clientes" value="<%= registro.id_clientes %>">

            <label>Nome:</label><br>
            <input type="text" name="nome_clientes" value="<%= registro.nome_clientes %>" required><br><br>

            <label>Email:</label><br>
            <input type="email" name="email_clientes" value="<%= registro.email_clientes %>" required><br><br>

            <label>Telefone:</label><br>
            <input type="text" name="telefone_clientes" value="<%= registro.telefone_clientes %>" required><br><br>

            <button type="submit">Salvar</button>
        </form>

    <% } %>


    <% if (tipo === 'produto') { %>

        <h2>Editar Produto</h2>

        <form action="/produto/atualizar" method="POST">

            <input type="hidden" name="id_produtos" value="<%= registro.id_produtos %>">

            <label>Nome:</label><br>
            <input type="text" name="nome_produtos" value="<%= registro.nome_produtos %>" required><br><br>

            <label>Preço:</label><br>
            <input type="number" name="preco_produtos" step="0.01" value="<%= registro.preco_produtos %>" required><br><br>

            <label>Categoria:</label><br>
            <select name="id_categorias" required>
                <% categorias.forEach(categorias => { %>
                    <option value="<%= categorias.id_categorias %>" 
                        <%= categorias.id_categorias == registro.id_categorias ? 'selected' : '' %>>
                        <%= categorias.nome_categorias %>
                    </option>
                <% }) %>
            </select><br><br>

            <button type="submit">Salvar</button>
        </form>

    <% } %>

    <br>
    <a href="/"><button>Voltar</button></a>

</body>
</html>