<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <script>

        function confirmDelete() {
            return confirm('Você tem certeza que deseja deletar este cliente?');
        }

    </script>
</head>
<body>

    <a href="/produtos/form">
        <button>Novo Produto</button>
    </a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
        </tr>

        <% registros.forEach(produtos => { %>
            <tr>
                <td><%= produtos.id_produtos %></td>
                <td><%= produtos.nome_produtos %></td>
                <td><%= produtos.preco_produtos %></td>
                <td><%= produtos.nome_categorias %></td>

                <td>
                    <a href="/produtos/editar/<%= produtos.id_produtos %>">
                        <button>Editar</button>
                    </a>

                    <a href="/produtos/deletar/<%= produtos.id_produtos %>" onclick="return confirm('Deseja deletar?')">
                        <button>Deletar</button>
                    </a>
                </td>
            </tr>
        <% }) %>
    </table>

    <a href="/"><button>Voltar</button></a>

</body>
</html>